// Variables
$primary-color: #050505;
$second-color: #0D5FF9;
$third-color: #F9FAFB;
$fourth-color: #DBDBDB;
$fifth-color: #636363;
$yellow-color: #FDB200;
$gradient: linear-gradient(to right, $primary-color, $second-color);
